@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
.bgdark{
    color: white;
    min-height: 100vh;
    background-color: #151517;
    font-family:Poppins;
}

.navBar_bgdark{
    background-color: black;
}
.navBar_bglight{
    background-color: #c8c2c2eb;
}
.navBarScrolldark{
    background-color: #151517;
}
.navBarScrolllight{
    background-color: white;
}
.navElement:hover
{
    background-image: linear-gradient(90deg,#9340ff,#ff3c5f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.displayNone{
    display: none;
}
.displayBlock{
    display: block;
}
.bglight{
    color: black;
    min-height: 100vh;
    /* background-image: linear-gradient(125deg,rgb(113, 110, 110),white); */
    background-color: #ffffff;
    font-family: Poppins;
}
.gradient-text{
    background-image: linear-gradient(90deg,#9340ff,#ff3c5f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .red-btn{
    width: fit-content;
    background-image: linear-gradient(90deg,hsl(266, 100%, 63%),#ff3c5f);
    cursor: pointer;
    position:relative;
    z-index: 1;
  }
  .red-btn::before{
    
    content: "";
    background-image: linear-gradient(90deg,#ff3c5f,#9340ff);
    position: absolute;
    border-radius: 9999px;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    transform: scalex(0);
    transform-origin: left;
    transition: all 2s;
    z-index: -1; 
  }
  .red-btn:hover::before{
    transform: scalex(1);
    } */


    
    .red-btn{
        width: fit-content;
        
        color:black;
        background-image: linear-gradient(90deg,hsl(266, 100%, 63%),#ff3c5f);
        padding: 0.60rem 1.25rem;
        box-shadow: 5px 5px 7px 0px #0000003f;
        cursor: pointer;
        position:relative;
        font-weight: 500;
        z-index: 1;
        opacity: 0.75;
      }
      .red-btn:hover{
        opacity: 1;
      }
      /* .red-btn::before{
        content: "";
        background-image: linear-gradient(90deg,#ff3c5f,#9340ff);
        background-color: white;
        position: absolute;
        border-radius: 9999px;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        transform: scalex(0);
        transform-origin: left;
        transition: all 2s;
        z-index: -1;
        
        
      }
      .red-btn:hover::before{
       
        transform: scalex(1);
        
    } */
    
    
    

.image{
    filter:grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}
@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        filter: grayscale(0.5);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}
.shift{
    width: 45px;
    height: 45px;
    background-color: rgba(189, 183, 183, 0.558);
    border-radius: 50%;
}
.right-button{
    transition: all 1s;
    animation: moveRight 5s linear infinite;
    position: absolute;
    right:40px;
    
}
@keyframes moveRight {
    0%{
        right:40px;
    }
    50%{
        right:25px;
    }
    100%{
        right:40px;
    }
}

.icon-decor{
    box-sizing: border-box;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    position: relative;
}
.icon-rotate{
    animation: spin 45s linear infinite reverse;
}
.circle-animation{
    animation: spin 25s linear infinite reverse;
}
.circle-animation1{
    animation: spin 55s linear infinite;
}
@keyframes spin {
    100%{
        transform: rotate(1turn);
    }
}
/* .circle-animation2{
    animation: antiSpin 55s linear infinite;
} */
/* @keyframes antiSpin {
    100%{
        transform: rotate(360deg);
    }
} */

.circle-bg{
    /* position: absolute; */
    border-width: 3rem;
    border-image:  linear-gradient(90deg,#ff3c5f,#9340ff);
}

.language{
    display: none;
    /* opacity: 0; */
}
.languageDisplay{
    /* opacity: 1; */
    display: block;
}

.shiftSkills{
    width: 45px;
    height: 45px;
    background-color: rgba(189, 183, 183, 0.558);
    border-radius: 50%;
}
.contact_icons{
    animation: zoom 5s linear infinite;
}
@keyframes zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1) ;
    }
    100%{
        transform: scale(1);
    }
}
.contact_textdark{
    background-color: #ffffff;
}
.contact_textlight{
    background-color: #000000;
}
.footer_bgdark{
    background-color: #000000;
}
.footer_bglight{
    background-color: #c8c2c2eb;
}
.borderdark{
    border: 2px solid white;
}
.borderlight{
    border: 2px solid black;
}
.footerHover:hover{
    /* background-color: #9340ff; */
    scale: 1.1;
}
.project_card1{
    max-width: 58.3%;
    border: 2px solid transparent;
    border-image: linear-gradient(180deg,hsl(266, 100%, 63%),#ff3c5f);
    border-image-slice: 1;
    /* border-radius: 5rem; */
    padding: 8px;
    animation-name: fade;
    animation-duration: 2.5s;
    transition: all;
    transition-duration: 2.5s;
}
.project_card1::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* background-color: #1f1f1f9a; */
    z-index:0;    
    /* border-radius: 0.5rem; */
}
.project_card1::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(90deg, #16161cc4, #2f2f3079);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 2s;
    z-index:5;
    /* border-radius: 0.5rem; */
}
.project_card1:hover::before{
    transform: scaleX(1);
}
/* .textp1{ */
    /* opacity: 0; */
/* } */
/* .p1:hover .textp1{
    opacity: 1;
} */
.project_card2{
    max-width: 58.3%;
    border: 2px solid transparent;
    border-image: linear-gradient(180deg,#081523,#226349);
    border-image-slice: 1;
    /* border-radius: 5rem; */
    padding: 8px;
    animation-name: fade;
    animation-duration: 2.5s;

}
.project_card2::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* background-color: #1f1f1f9a; */
    z-index:0;    
    /* border-radius: 0.5rem; */
}
.project_card2::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(90deg, #16161cc4, #2f2f3079);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 2s;
    z-index:5;
    /* border-radius: 0.5rem; */
}
.project_card2:hover::before{
    transform: scaleX(1);
}

.project_card3{
    max-width: 58.3%;
    border: 2px solid transparent;
    border-image: linear-gradient(180deg,hsl(251, 80%, 10%),#7f94df);
    border-image-slice: 1;
    /* border-radius: 5rem; */
    padding: 8px;
    animation-name: fade;
    animation-duration: 2.5s;
}
.project_card3::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* background-color: #1f1f1f9a; */
    z-index:0;    
    /* border-radius: 0.5rem; */
}
.project_card3::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(90deg, #16161cc4, #2f2f3079);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 2s;
    z-index:5;
    /* border-radius: 0.5rem; */
}
.project_card3:hover::before{
    transform: scaleX(1);
}
.textp1{
    opacity: 1;
}

.submitButton{
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(147 64 255);
    cursor: pointer;
    position:relative;
    z-index: 1;
}
.submitButton::before{
    content: "";
    background-color: #ffffff67;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    transform: scalex(0);
    transform-origin: left;
    transition: all 2s;
    z-index: -1;
}
.submitButton:hover::before{
    /* background-color: #fff; */
    transform: scaleX(1);
}

.fade {
    animation-name: stretch;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  /* transition: 2s ease-in-out; */
}
@keyframes stretch{
    from {opacity: 0.4}  
    to {opacity: 1}
}

.dot1,.dot2,.dot3
{
    opacity: 0.5;
}
.currentdot
{
    border-radius: 50%;
    background-color: white;
    transform: scale(1.2);
}
.details_project{
    /* opacity: 1; */
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    transition: ease-in-out 2s;
}
.overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
  }
  .overlayactive {
    opacity: 1;
    pointer-events: initial;
  }
  .grayscale{
    filter: grayscale(100%);
  }
  /* .details_view{
    transition: ease-in-out 2s;
  } */